#canvas {
    background-color: black;
    width: 1200px;
    height: 500px;
}


#footer{
  background-color:grey;
  width:100%;
  display:flex;
}
#footer-content{
  display:flex;
  justify-content: center;
}
#section1{
  margin-right:3px;

}
#play-btn, #pause-btn, #reset-btn, #download-btn , #play1-btn, #pause1-btn, #reset1-btn, #download1-btn , #play2-btn , #pause2-btn, #reset2-btn, #download2-btn {
  font-size: 3px;
  padding: 0px 0px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  border: 0px solid rgb(30, 30, 30);
  text-decoration: none;
  margin: 0px 0px;
  border-radius: 50%;
  
} 
#styling{
  display:flex;
  justify-content:center;
  
}
#styling1{
  display:flex;
  justify-content:center;
  
}
#styling2{
  display:flex;
  justify-content:center;
  
}

#mode{
  margin-top:auto;
  margin-bottom:auto;
  display:flex;
}
#expect{
  margin-top:auto;
  margin-bottom:auto;
  display:flex;
}
#det{
  margin-top:auto;
  margin-bottom:auto;
  display:flex;
}




