#canvas {
    background-color: black;
    width: 1200px;
    height: 500px;
}

#button{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*styling the buttons*/
#play-btn{
  font-size: 20px;
  padding:10px 26px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  border: 2px solid rgb(30,30,30);
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 5px;
  color: rgb(50,50,50);
}
/*pause button styling*/
#pause-btn{
  font-size: 20px;
  padding:10px 26px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  border: 2px solid rgb(30,30,30);
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 5px;
  color: rgb(50,50,50);
}

/*reset button styling*/
#reset-btn{
  font-size: 20px;
  padding:10px 26px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  border: 2px solid rgb(30,30,30);
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 5px;
  color: rgb(50,50,50);
}

#download-btn{
  font-size: 20px;
  padding:10px 26px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  border: 2px solid rgb(30,30,30);
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 5px;
  color: rgb(50,50,50);
}

#footer {
  background-color: grey;
  width: 95%;
  height: 60px;
  display: flex;
  justify-content: center;
}
/*styling the footer*/
#footer-content {
  width: 600px;
  display: flex;
  justify-content: center;
}